@charset "UTF-8";
@font-face {
  font-family: "DMSans";
  src: url("../fonts/dmsans-regular-webfont.woff") format("woff");
}
@font-face {
  font-family: "DMSans-Bold";
  src: url("../fonts/dmsans-bold-webfont.woff") format("woff");
}
@font-face  {
  font-family: "Heavitas";
  src: url("../fonts/heavitas-webfont.woff") format("woff");
}
html {
  font-family: "Courier", arial;
  font-size: 12px;
}

body {
  background-color: black;
  color: white;
  margin: 0px;
}

.section {
  position: relative;
  width: 100%;
  margin-top: 200px;
}

@media (max-width: 768px) {
  .video-element {
    width: 100%;
  }
}
#hero-section {
  height: 100vh;
  margin-top: 0px;
}

#slotNebbia {
  position: absolute;
  width: 100%;
}

#hero-section h1 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 0px;
  font-family: Heavitas, "sans-serif";
  font-size: 2rem;
  animation-name: appariLogo;
  animation-duration: 4s;
}

#video-section {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  margin-top: 0px;
  padding: 100px 0;
}
#video-section .video-element {
  width: 1000px;
  height: 600px;
  background-color: lightgray;
}

#team-section {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}
#team-section .col-section {
  width: 50%;
  height: 500px;
  text-align: center;
}
#team-section .profilePicture {
  width: 200px;
  height: 200px;
  background-color: white;
  border-radius: 50%;
  margin: 0 auto;
}
#team-section .nameMember {
  margin-top: 40px;
  font-family: Heavitas, "sans-serif";
  font-size: 1rem;
}
#team-section .memberBio {
  text-align: left;
  padding: 0 50px;
}

.breakdownBlock {
  display: flex;
  padding: 0 70px;
  align-items: center;
  height: 250px;
  background-color: #acacac;
  margin: 20px 80px;
  font-size: 3em;
  cursor: pointer;
}

.breakdownBlock:hover {
  background-color: white;
  color: grey;
}

#preProduction {
  width: 100%;
  height: 300px;
  background-image: url("../images/preproduzione-block.png");
  background-size: cover;
  cursor: pointer;
}

#preProduction-hidden {
  display: none;
  padding: 60px 100px;
}
#preProduction-hidden .preProduction-row {
  display: flex;
}
#preProduction-hidden .preProduction-row .preProduction-column {
  width: 50%;
}
#preProduction-hidden .preProduction-row .image {
  position: relative;
  margin: 0 auto;
  margin-top: 50px;
  width: 300px;
  height: 300px;
  background-color: grey;
}

#production {
  width: 100%;
  height: 300px;
  background-image: url("../images/produzione-block.png");
  background-size: cover;
  cursor: pointer;
}

#production-hidden {
  display: none;
  padding: 60px 100px;
}
#production-hidden .production-row {
  display: flex;
}
#production-hidden .production-row .production-column {
  width: 50%;
}
#production-hidden .production-row .image {
  position: relative;
  margin: 0 auto;
  margin-top: 50px;
  width: 300px;
  height: 300px;
  background-color: grey;
}

#postProduction {
  width: 100%;
  height: 300px;
  background-image: url("../images/postproduzione-block.jpeg");
  background-size: cover;
  cursor: pointer;
}

#postProduction-hidden {
  display: none;
  padding: 60px 100px;
}
#postProduction-hidden .postProduction-row {
  display: flex;
}
#postProduction-hidden .postProduction-row .postProduction-column {
  width: 50%;
}
#postProduction-hidden .postProduction-row .image {
  position: relative;
  margin: 0 auto;
  margin-top: 50px;
  width: 300px;
  height: 300px;
  background-color: grey;
}

#teamTitle {
  margin-top: 100px;
  text-align: center;
  font-family: Heavitas, sans-serif;
  font-size: 2rem;
  letter-spacing: 1px;
}

footer {
  text-align: center;
}

/* Page Pre-Production */
.container-preproduction {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 50px;
}

.img {
  width: 400px;
  height: 400px;
  margin: 10px;
  background-color: #eaeaea;
}

.title {
  font-size: 5em;
  font-weight: 400;
}

p {
  font-size: 1.5em;
  font-weight: 100;
}

@keyframes appariLogo {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*# sourceMappingURL=index.css.map */
